[submodule "src/franka_robot_description"]
	path = src/franka_robot_description
	url = git@github.com:DFKI-SAIROL/franka_robot_description.git
	branch = main
[submodule "src/franka_launch"]
	path = src/franka_launch
	url = git@github.com:DFKI-SAIROL/franka_launch.git
	branch = main
[submodule "src/crisp_controllers"]
	path = src/crisp_controllers
	url = git@github.com:DFKI-SAIROL/crisp_controllers.git
	branch = main
[submodule "src/crisp_py"]
	path = src/crisp_py
	url = git@github.com:DFKI-SAIROL/crisp_py.git
	branch = main
[submodule "src/crisp_gym"]
	path = src/crisp_gym
	url = git@github.com:DFKI-SAIROL/crisp_gym.git
	branch = main
[submodule "src/dynamixel_hardware_interface"]
	path = src/dynamixel_hardware_interface
	url = https://github.com/ROBOTIS-GIT/dynamixel_hardware_interface.git
	branch = humble
[submodule "src/DynamixelSDK"]
	path = src/DynamixelSDK
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK.git
	branch = humble
[submodule "src/dynamixel_interfaces"]
	path = src/dynamixel_interfaces
	url = https://github.com/ROBOTIS-GIT/dynamixel_interfaces.git
	branch = humble
[submodule "src/robot_ik_layer"]
	path = src/robot_ik_layer
	url = git@github.com:DFKI-SAIROL/robot_ik_layer.git
	branch = main
[submodule "src/robot_safety_layer"]
	path = src/robot_safety_layer
	url = git@github.com:DFKI-SAIROL/robot_safety_layer.git
	branch = main
[submodule "src/franka_py"]
	path = src/franka_py
	url = git@github.com:DFKI-SAIROL/franka_py.git
	branch = main
[submodule "src/franka_custom_msgs"]
	path = src/franka_custom_msgs
	url = git@github.com:DFKI-SAIROL/franka_custom_msgs.git
	branch = main
[submodule "src/franka_data_collection"]
	path = src/franka_data_collection
	url = git@github.com:DFKI-SAIROL/franka_data_collection.git
	branch = main
[submodule "src/fake_effort_hardware"]
	path = src/fake_effort_hardware
	url = git@github.com:DFKI-SAIROL/fake_effort_hardware.git
	branch = main
